/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styling */
header {
    background-color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #fff;
    font-size: 1.8rem;
    margin: 0;
    transition: color 0.3s ease;
}

header h1:hover {
    color: #5f5e59;
}

header a {
    text-decoration: none;
}

/* Navigation Styling */
nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #5f5e59;
}

.nav-links a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

/* button styles */
button.menu-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; 
    height: 21px;
}

.menu-toggle .bar {
    width: 100%;
    height: 4px; 
    background-color: #ffffff;
    border-radius: 2px;
}

.menu-toggle:hover .bar {
    background-color: #555; 
}

.menu-toggle:focus {
    outline: none; 
}

/* Audio control button */
.audio-control {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.audio-control:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.audio-control img {
    width: 30px;
    height: 30px;
    transition: opacity 0.3s ease;
}

/* Mobile style */
@media (max-width: 768px) {
    /* Navigation */
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 80px;
        left: 0;
        padding: 10px 0;
        z-index: 1000;
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .nav-links a {
        font-size: 18px;
        color: white;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    /* Audio button style */
    .audio-control {
        margin-left: 20px;
    }

    /* Pricing style */
    .pricing-content {
        flex-direction: column;
    }

    .price-option {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
    .pricing-image {
        width: 80%;
        margin: 15px auto; 
    }
}

/* Hero Section */
.hero {
    text-align: center;
    background-color: #0073e6;
    color: #fff;
    padding: 50px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.8;
}


/*video for index.html*/
.video-section {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; 
}

.video-section video {
    width: 80%; 
    max-width: 800px;
    height: auto;
    border: 2px solid #0073e6; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Main Content */
.main-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-content h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #0073e6;
}

.main-content p {
    font-size: 1rem;
    line-height: 1.8;
}

/* about.html */
/* About Us */
.about-us, .our-mission, .our-team, .our-values {
    background-color: #fff;
    margin: 20px auto;
    padding: 40px;
    max-width: 1200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-us h2, .our-mission h2, .our-team h2, .our-values h2 {
    font-size: 2rem;
    color: #0073e6;
    margin-bottom: 20px;
}

.our-team .team-members {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.our-team .team-member {
    text-align: center;
    width: 30%;
}

.our-team .team-member img {
    width: 150px;
    height: 200px; 
    object-fit: cover; 
    border-radius: 50%; 
    margin-bottom: 10px;
}

.our-team .team-member h3 {
    font-size: 1.2rem;
    color: #333;
}

.our-team .team-member p {
    font-size: 1rem;
    color: #777;
}

.our-values ul {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

.our-values li {
    margin-bottom: 10px;
}

/*services.html, basic-home-cleaning-services.html, move-in-out-cleaning-services.html*/
/* Services Navigation */
.service-nav {
    background-color: #0073e6;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.service-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.service-nav li {
    display: inline-block;
    margin-right: 30px;
}

.service-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.service-nav a:hover {
    background-color: #005bb5;
}

.service-nav a.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

/* Cleaning Sections */
.cleaning-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.cleaning-part {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    padding: 20px; 
}

.cleaning-part img {
    width: 100%;
    border-radius: 20px;
    max-width: 400px;
    margin-bottom: 10px;
}

.service-description {
    flex: 1; 
}

.service-image {
    max-width: 200px; 
    height: auto; 
}

.service-description h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #0073e6;
}

.service-description ul {
    list-style: none;
    padding-left: 0;
}

.service-description li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.service-description li::before {
    content: "✔";  
    color: black;  
    font-size: 20px; 
    margin-right: 10px; 
}

/*pricing.html, basic-home-cleaning-prices.html, move-in-out-cleaning-preces*/
/* Pricing Content */
.pricing-content {
    margin-top: 50px; 
    display: flex;
    gap: 20px;
    justify-content: space-between; 
    align-items: stretch; 
    flex-wrap: wrap; 
}

/* Price Option */
.price-option {
    flex: 1 1 calc(25% - 20px); 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center; 
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    min-height: 400px; 
}

.price-option img {
    max-width: 100px; 
    height: auto; 
    margin-top: auto; 
}

.price-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.price-option h4 {
    font-size: 1.6rem;
    color: #0073e6;
    margin-bottom: 10px;
}

.price-option p {
    font-size: 1.2rem;
    color: #555;
}

.pricing-section {
    padding-top: 25px; 
    padding-bottom: 25px;
}

.pricing-image {
    width: 100px;  
    height: 100px; 
    object-fit: cover; 
    margin-top: 15px; 
    border-radius: 8px; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

.price-option ul {
    list-style: none;
    padding-left: 0;
}

.price-option li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.price-option li::before {
    content: "✔";  
    color: black;   
    font-size: 20px;  
    margin-right: 10px;  
}

/*contact.html*/
/* Contact Section */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 1200px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-info {
    width: 40%;
}

.contact-info h2 {
    font-size: 2rem;
    color: #0073e6;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
}

.contact-info .contact-image {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Contact form style */
.contact-form {
    width: 55%;
}

.contact-form h3 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #0073e6;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline-color: #0073e6;
    border-color: #0073e6;
}

.contact-form .submit-btn {
    background-color: #0073e6;
    color: white;
    font-size: 1rem;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
    background-color: #005bb5;
}

/* form.html */
/* Confirmation Section */
.confirmation-container {
    margin: 40px auto;
    max-width: 1200px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.confirmation-message h2 {
    font-size: 2rem;
    color: #0073e6;
    margin-bottom: 20px;
}

.confirmation-message p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.confirmation-image {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    border-radius: 10px;
}

/* Submitted Details Styling */
.submitted-details {
    margin-top: 40px;
}

.submitted-details h3 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.submitted-details ul {
    list-style: none;
    padding-left: 0;
}

.submitted-details li {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
}

.submitted-details strong {
    color: #0073e6;
}

/* Next Steps */
.next-steps {
    margin-top: 40px;
}

.next-steps h3 {
    font-size: 1.6rem;
    color: #0073e6;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.next-steps p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

footer p {
    margin: 0;
}